<h1>Welcome, <%= @user.username %></h1>

<h3><a href='/tweets/new'>TWEET HERE</a></h3>

<h2>Hottest Tweets in the World</h2>
<% Tweet.all.each do |tweet| %>
    <p><a href='/tweets/<%=tweet.id%>'><%= tweet.content %>  </a>      --        <%= tweet.user.username %></p>
<%end%>


<h2>Your Profile HERE</h2>

<h3><a href='/logout'>Log Out</a></h3>
