<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <div class="container">
      <h5><a href='/tweets/tweets'>VIEW ALL TWEETS</a></h5>
    </div>

    <%= yield %>

  </body>
</html>
