<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <div class="container">
      <h2><a href='/tweets'>FwItter</a></h2>
    </div>

    <%= yield %>

  </body>
</html>
